@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

/* .titulo {

   font-size: 76px;

} 

#meutitulo {

    font-size: 76px;

} */

.page-cotainer {
display: flex;

}

h1 {

font-size: 76px;
font-family: "Inter";
font-weight: normal;
margin-bottom: 16px;

}

.inpt {

    border-radius: 10px; /* arredonda  as borda */
    padding: 18px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    background-color: #F7F9FB; /* Definiçao de cor*/
    width: 377px; /*largura*/ 
    margin-bottom: 16px;
}

.btn { 
    padding: 18px;
    background-color: black;
    color: #F7F9FB;
    border: none; /*altura*/
    width: 377px; /*largura*/ 
    border-radius: 10px; /*arredondar as bordas */

} 

.login-container {

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.robo-image {

    background-image: url("../assets/imgs/Sidebar.png");
    background-size: cover;


    width: 50vw;
    height: 100vh;



}